/* إجبار المحتوى على أخذ كامل العرض في الجوال */
@media screen and (max-width: 750px) {
    #content main {
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
        width: 100% !important;
        display: block !important;
    }

    /* منع أي عنصر من تجاوز عرض الشاشة */
    .page-wrapper, .page {
        padding: 0 !important;
        margin: 0 !important;
    }
}
