/* إيقاف حجز المساحة الجانبية في الجوال لزيادة عرض النص */
@media screen and (max-width: 750px) {
    #content main {
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding: 10px 15px !important;
        width: 100% !important;
        max-width: 100vw !important;
    }
    
    /* منع الـ Scroll الجانبي الناتج عن الأكواد المستدعاة */
    pre {
        direction: ltr !important;
        text-align: left !important;
        overflow-x: auto !important;
        width: 100% !important;
    }
}
